<div class="bottom-gallery-wrapper">
    <div class="bottom-gallery">
        <div class="image-container" *ngFor="let item of residuos">
            
            <img id="{{item}}" src="/Images/contenedores/{{item}}.webp" alt="" (click)="ChargeIcons(item)">
        </div>
    </div>    
</div>
<div #dialog class="dialog" id="dialog" (dblclick)="closeDialog()">
    <div class="dialog-content">
        <div class="dialog-header">
            <h2 id="dialog-title">@if (dataicons?.title) {
                {{ dataicons.title }}
            }</h2>
            
            <button class="close-button" (click)="closeDialog();">&times;</button>
        </div>
        <div class="dialog-body">
            @if (dataicons?.urls) {
            <div class="icons-grid" id="icons-grid">
                
                <div class="icon-item" *ngFor="let icons of dataicons.urls">
                    
                    <img src="{{icons.url}}" width='35px' height='35px' class="icon">
                    <span>{{icons.label}}</span>
                </div>            
            </div>
           }
        </div>
    </div>
</div>
