
<div id="svg-container">

    <div id="mapa-del-cut" class="h-screen"></div>
<!--    <div class="bottom-gallery-wrapper">
        <div class="bottom-gallery">
           
        </div>
    </div> -->
</div>

<!--
<div class="dialog" id="dialog">
    <div class="dialog-content">
        <div class="dialog-header">
            <h2 id="dialog-title"></h2>
            <button class="close-button">&times;</button>
        </div>
        <div class="dialog-body">
            <div class="icons-grid" id="icons-grid"></div>
        </div>
    </div>
</div>
 -->