<header>
    <div class="header-container">
        <div class="logo">
            <ion-icon name="map"></ion-icon>
            <span>Mapeo Gestion de Residuos</span>
        </div>
        <div class="menu">
            <ul>
                <li><a routerLink="/mapa/index" id="home">Home</a></li>
                <li><a href="#">Infografias</a></li>
                <li><a href="#">About us</a></li>                    
            </ul>
        </div>
        <div class="controllers">                
            
            <ion-icon id="gamecontroller" name="game-controller"></ion-icon>
            <a routerLink="/auth/sign-up"><button id="btn-sign-up">SIGN UP</button></a>
            <ion-icon id="btn-menu" name="menu"></ion-icon>
            
        </div>
    </div>
</header>
<router-outlet></router-outlet>


